
table {
	width: 100%;
	border-collapse: collapse;
	font-size: 0.8em;
}

th, td {
	border: 1px solid #51B018;
	padding: 3px 7px 2px 7px;
}

th {
	font-size: 1em;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 4px;
	background-color: #99CC33;
}

tr.odd td {
	background-color: #D1EA4F;
}

td.center {
	text-align: center;
}

table a {
	width: 100%;
}

a.button {
	display: inline-block;
	outline: 1px dashed #51B018;
}

a.button:hover {
	background-color: rgb(40,170,255);
	background-color: rgba(80,170,255,.5);
	cursor: pointer;
}

a.delete {
	float: right;
}

a.delete:hover {
	background-color: rgb(255,40,40);
	background-color: rgba(255,40,40,.5);
}

#content fieldset {
	border: 1px solid #51B018;
	margin: 8px 0;
}

#content legend {
	border: 1px solid #51B018;
	/*padding: 0.2em 0.5em;*/
	/*color: #51B018;*/
}

/*testovaci ramecek*/
#content div {
	outline: 1px dashed #097744;
}

.deleteA {
	opacity: 0.3;
}

div.hiddenToBeDeleted {
	display: none;
}
