
.mathquill-editable {
	background-color: #fff;
}

div#content div.priklad div{
	width: 50%;
	float: left;
}

div#odpoved ul {
	list-style-type: none;
	padding: 0;
}

li.right {
	background-color:rgba(0,255,0,0.7);
}

li.wrong {
	background-color:rgba(255,0,0,0.7);
}

input[type=text].right {
	color:rgba(0,255,0,0.7);
}

input[type=text].wrong {
	color:rgb(255,79,73);
	background-color:rgb(153,0,0);
}

input[type=text].shouldbe {
	font-style:italic;
	font-weight:bold;
	background-color:rgba(80,80,80,0.7);
	color:rgb(0,255,0);
}

div#setparams {
	float: right;
	width: 360px;
	/*border: 1px dotted black;*/
}

div#temata ul {
	list-style-type: none;
	padding-left: 0;
}

div#temata ul ul {
	list-style-type: none;
	padding: 0;
 	margin: 8px 0 0 16px;
}

div#temata li {
	/*border: 1px dotted black;
	display: block;*/
	margin-bottom: 12px;
}

div#temata .description {
	font-size: small;
	color: #333;
	margin: 4px 0 0 24px;
}

div#limit {
	margin-bottom: 24px;
}

div#limit span {
	margin-right: 16px;
}
