
div.spock-say img {
	vertical-align: middle;
}

.mathquill-editable {
	background-color: #fff;
}

div#content div div{
	width: 50%;
	float: left;
}

div#content hr.clearfix {
	clear: both;
	border: none;
	border-bottom: 1px dashed #097744;
}

div#odpoved ul {
	list-style-type: none;
	padding: 0;
}

li.right {
	background-color:rgba(0,255,0,0.7);
}

li.wrong {
	background-color:rgba(255,0,0,0.7);
}

input[type=text].right {
	color:rgba(0,255,0,0.7);
}

input[type=text].wrong {
	color:rgb(255,79,73);
	background-color:rgb(153,0,0);
}

input[type=text].shouldbe {
	font-style:italic;
	font-weight:bold;
	background-color:rgba(80,80,80,0.7);
	color:rgb(0,255,0);
}
