
div.spock-say img {
	vertical-align: middle;
}

.mathquill-editable {
	background-color: #fff;
}

div#content div div{
	width: 50%;
	float: left;
}

div#content hr.clearfix {
	clear: both;
	border: none;
	border-bottom: 1px dashed #097744;
}

div#odpoved ul {
	list-style-type: none;
	padding: 0;
}
