/*CSS styl pro obecnou stránku – nepatří sem CSS pro konkrétní podstránky!
Styluje se tu zejména to, co se objevuje v hlavní render.php
*/

body {
  color: #222;
  background-color: #9EDC61;
  font-family: Tahoma, sans-serif;
  font-size: large;
}

a {
  text-decoration: none;
  color: inherit;
}

.error {
  color: #f00;
}

div#container {
  margin-top: 24px;
  width:920px;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

div#header {
  border: none;
  height: 168px;
  background-image: url("../img/design/spock-math.png");
  color: #fff;
  position: relative;
}
div#header h1 {
  padding: 64px 0 0 160px;
  text-shadow: #000 0 0 8px; 
}

div#menu {
  position: absolute;
  bottom: 2px;
  width: 100%;
  text-align: right;
}
div#menu ul {
  list-style-type: none;
  margin: 0 8px 0 0;
  padding: 0;
}
div#menu li {
  text-align: center;
  display: inline;
}
div#menu a {
  display: inline-block;
  margin-left: 8px;
  border: 1px dashed #097744;
  text-decoration: none;
  color: #fff;
  background-color: rgb(81,176,24);
  background-color: rgba(81,176,24,.5);

  width: 140px;
  height: 32px;
  line-height: 32px;
}
div#menu a.active {
  background-color: rgb(40,170,255);
  background-color: rgba(80,170,255,.5);
}
div#menu a:hover {
  background-color: rgb(81,176,24);
}
div#menu a.active:hover {
  background-color: rgb(40,170,255);
}


/*IE fix*/
img { border: none; }

div#content {
  background-color: #EFFFA3;

  border: 1px dashed #097744;

  min-height:386px;

  padding: 16px 32px;
  margin: 2px;
}

div#footer {
  height: 56px;
  line-height: 56px;
  text-align: right;
  padding-right: 24px;
  font-size: small;
  text-shadow: #fff 0 0 2px;
  background-image: url("../img/design/spock-foot.png"); 
}
div#footer img {
  vertical-align: middle;
  margin: 0 8px 0 12px;
}

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

input.error {
  outline: 2px solid #c00;
  background-color: #fee;
}

div#content hr.clearfix {
	clear: both;
	border: none;
	border-bottom: 1px dashed #097744;
}

sup {
	font-size: xx-small;
}

